h1 {text-align: center;}

/* Toggle */
/* Toggle box */
.toggle {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 19px;
}
/* Checkbox */
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* Moving 'knob' position */
.toggleknob {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    border-radius: 19px;
}
/* Moving 'knob */
.toggleknob:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
}
/* Toggle is on */
input:checked + .toggleknob {
    background-color: blue;
}
/* Toggle is currently active inut */
input:focus + .toggleknob {
    box-shadow: 0 0 1px blue;
}
/* Toggle is on - move knob */
input:checked + .toggleknob:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

/* Menu */
/* Menu Checkbox */
#menu-open {
    opacity: 0;
    width: 0;
    height: 0;
}
/* Menu */
/* display when checkbox checked, hide at other times */
#menu-open ~ #nav-menu {
    display: none;
}
#menu-open:checked ~ #nav-menu {
    display: block;
}
/* outer menu style */
#nav-menu {
    position: fixed;
    background-color: white;
    border: 2px solid black;
    list-style: none;
    padding-left: 0;
}
/* individual items - links */
#nav-menu a {
    width: 150px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    text-decoration: none;
}
/* hover menu item */
#nav-menu a:hover {
    background-color: blue;
    color: white;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Camera Cards */
.activation-card {
    margin: 3px;
    background-color: #bcf;
    display: flex;
    margin: 5px;
    padding: 5px;
}

.activation-card.new {
    background-color: #79f;
}

.activation-info {
    padding-left: 10px;
}

.activation-date-time {
    font-weight: bold;
}

/* Popups */
#page-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000a;
}

#popup {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 15px;
}

#popup > div {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.img-button {
    cursor: pointer;
    width: 50px;
}

#video-toolbar {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* make page overlay display when extra class is added */
#page-overlay.popup-visible {
    display:block;
}

div#share-copy-confirm {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: fit-content;
    background-color: #ccc;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: bold;
    color: green;
}

div#share-copy-confirm.popup-visible {
    display: block;
}

#popup-video-date-time {
    font-weight: bold;
    font-size: 130%;
}

#popup-video-camera {
    font-size: 120%;
}

#popup-video-head {
    padding-left: 10px;
}
